<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""><b>01 : Home</b></a></li>
          <li><a href="./works.html" title=""><b>02 : Works</b></a></li>
          <li><a href="./about.html" title=""><b>03 : About me</b></a></li>
          <li><a href="./contact.html" title=""><b>04 : Contact</b></a></li>
           <li><a href="./static/assets/Richa-Kansara-Resume.pdf" download><b>05 : Resume</b></a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          <h3><b>The very first thing that excites me about being a Software Developer is the fact that we can solve any real-world problem with the knowledge of programming!</b></h3>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
          
                  <h3>UNDERGRADUATE STUDIES</h3>
                  <p>I started my journey of learning Software technologies when I choose Diploma Majoring in Computer Engineering From the <br/> M. S. University. Exploring more and more in computing take my passion for computers to the next level, therefore I choose to pursue Bachelor's in Computer Engineering from Vadodara Institute of Engineering. The engrossing nature of .NET led me to study an extra educational program in .NET from the renowned organization.
                  </p>
                  <h3>WORK EXPERIENCE</h3>
                  <p>
                  During my work tenure back in India at Softcom Industries Pvt Ltd., in addition to application of C# language, I had the opportunity to learn HTML, CSS, Bootstrap and JavaScript as well as MySQL. I contributed my knowledge by working on multiple projects which were from the e-Commerce domain. My job responsibilities were to add new features to the project as per the client’s request, manage the project development and lead a team of 5 people by building the project from scratch. As the company I worked with was a start-up, I got an opportunity to communicate with the client for requirement gathering at an early stage. I also achieved efficient communication with the whole team, as I could easily coordinate with the designing team for the designing of the user interface. With all the features that I developed, I also completed the testing using unit test cases and handled project databases.</p>

                  <h3>GRADUATE STUDIES</h3>
                  <P>Is this done?? No, I feel there is yet to learn and pursuing a Masters degree will enhance my skillset over time and add value to my experience. I worked on several academic projects during my Master's program which entitled Advanced Software development, Computing Concept, Database Concept and System Programming. I believe, my desire for learning has sustained and will sustain the same quality throughout the rest of my life.</P>
                  <p style="text-align: right;">-Richa Kansara</p>
                </div>
                <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/my3.jpg" class="img-responsive" alt="">
                <h3>TECHNICAL SKILLS:</h3>
                  <b>Database System</b> : MySQL, Oracle, MongoDB, GraphDB<br>
                  <b>Markup Language</b> : HTML, CSS, XML, Bootstrap<br>
                  <b>Operating System</b> : Windows, Unix, macOS, Ubuntu<br>
                  <b>Programming language</b> : C, C++, Java, C#.net, ASP.net, JavaScript, Node.js, Python<br>
                  <b>Software Application</b> : Microsoft Office, Microsoft Visual Studio, Android studio, PyCharm, GitHub<br>
                  <b>Experience</b> : 6-months experience in Web development and Programing using C#.net, Android and MySQL
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>